.print-none {
  display: none !important;
}
.barcode,
.barcode-product-name,
.second-barcode {
  display: block;
}
.qr-code {
  display: flex;
  justify-content: center;
}
title {
  display: none !important;
}
