.barcode {
    display: none;
}
.barcode img {
    width: 100%;
}
.info {
    
    font-size:13px; 
}
.info img {
    width: 30px;
    margin-left: 16px;
}
.info a {
    margin-left: 8px;
}
.print-none {
    font-family: Source Sans Pro, Arial, sans-serif;
    padding:20px; 
}
.barcode-product-name {
    text-transform: uppercase;
    font-family: Source Sans Pro, Arial, sans-serif;
    font-size: 42px;
    overflow-wrap: anywhere;
    margin-top: 100px;
}
.product-name {
    margin-bottom: 15px;
}
hr {
    color: black;
}
input {
    padding: 4px;
    margin-right: 5px;
    margin-top: 2px;
}
button {
    border-radius: 3px;
    background: darkcyan;
    border: 1px solid darkviolet;
    color: white;
    padding: 5px 10px 5px 10px;
}