body {
  margin: 0px;
}
.barcode {
  display: none;
  /* display: block; */
  padding-top: 8px;
}
.second-barcode {
  display: none;
  /* display: block; */
  padding-top: 8px;
}
.border-bottom {
    border-bottom: 1px solid lightgray;
}
.d-none {
    display: none;
}
.barcode img {
  width: 100%;
}
.second-barcode img {
  width: 100%;
}
.number-of-barcode {
  width: 79px;
}
.info {
  font-size: 13px;
}
.info img {
  width: 30px;
  margin-left: 16px;
}
.info a {
  margin-left: 8px;
}
.print-none {
  font-family: Source Sans Pro, Arial, sans-serif;
  padding: 20px;
}
.barcode-product-name {
  text-transform: uppercase;
  font-family: Source Sans Pro, Arial, sans-serif;
  font-size: 22px;
  overflow-wrap: anywhere;
  margin-top: 100px;
  text-align: center;
}
.product-name {
  margin-bottom: 15px;
}
hr {
  color: black;
}
input {
  padding: 4px;
  margin-right: 5px;
  margin-top: 2px;
}
button {
  border-radius: 3px;
  background: darkcyan;
  border: 1px solid darkviolet;
  color: white;
  padding: 5px 10px 5px 10px;
}
.barcode-size {
  -webkit-appearance: none;
  width: 100px;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;
  direction: rtl;
}
