body {
  margin: 0px;
}
.barcode {
  /* display: none; */
  display: block;
  padding-top: 8px;
}
.qr-code {
  /* width: fit-content; */
  display: flex;
  justify-content: center;
}
.second-barcode {
  /* display: none; */
  display: block;
  padding-top: 8px;
}
.border-bottom {
  border-bottom: 1px dotted black !important;
}
.d-none {
  display: none;
}
.d-block {
  display: block;
}
.barcode img {
  width: 100%;
}
.barcode-data {
  margin-top: 3px;
  margin-bottom: 8px;
}
.second-barcode img {
  width: 100%;
}
.number-of-barcodes {
  width: 120px;
  margin-bottom: 20px;
  border-radius: 3px;
  border: 1px solid black;
  -webkit-transition: 0.2s; /* Safari */
  transition: 0.2s;
}
.number-of-barcodes:hover {
  box-shadow: 0 0 2pt 0.2pt darkcyan;
}
.info {
  font-size: 13px;
}
.info img {
  width: 30px;
  margin-left: 16px;
}
.info a {
  margin-left: 8px;
}
.print-none {
  width: 380px;
  font-family: Source Sans Pro, Arial, sans-serif;
  padding: 16px;
}
.barcode-product-name {
  display: block;
  font-family: Source Sans Pro, Arial, sans-serif;
  font-size: 22px;
  overflow-wrap: anywhere;
  text-align: center;
}
.product-name {
  margin-bottom: 15px;
}
hr {
  color: black;
}
input {
  padding: 4px;
  margin-right: 16px;
  margin-top: 2px;
  margin-bottom: 2px;
}
.print-save-button {
  float: right;
}
button {
  border-radius: 3px;
  background: darkcyan;
  border: 1px solid darkviolet;
  color: white;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}
button:hover {
  border: 2px solid darkviolet;
}
.link-button {
  background: white;
  color: darkcyan;
  padding: 8px 50px 8px 10px;
  cursor: pointer;
  text-decoration: none;
  position: relative;
}
.link-button:hover {
  font-size: 17px;
  -webkit-transition: 0.4s; /* Safari */
  transition: 0.4s;
}
.link-button .text {
  position: absolute;
  top: 7px;
  left: 44px;
  width: max-content;
}
.link-button .icon {
  font-size: 28px;
  font-weight: bold;
}
.slider-barcode-size {
  -webkit-appearance: none;
  margin-left: 16px;
  width: 100px;
  height: 5px;
  border-radius: 5px;
  background: #dddcdc;
  outline: none;
  opacity: 0.7;
  -webkit-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
  direction: rtl;
}
.slider-barcode-size:hover {
  opacity: 1;
}
.slider-barcode-size::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: darkcyan;
  cursor: pointer;
}
.slider-barcode-size::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border: 0;
  border-radius: 50%;
  background: darkcyan;
  cursor: pointer;
}
.gear {
  position: absolute;
  top: 15px;
  margin: auto;
  width: 100%;
  height: 100%;
}
.processing {
  position: absolute;
  top: 213px;
  left: 159px;
  font-family: Source Sans Pro, Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  overflow-wrap: anywhere;
  text-align: center;
  text-shadow: 0 0 0.2em white;
}
/* PRINT TEXT Page */
.text-to-print {
  /* Uncomment to see the print area */
  /* border: 1px solid black; */
  min-height: 700px;
  height: auto;
  font-family: Source Sans Pro, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.center-button {
  padding-top: 3px;
  margin-top: 6px;
  width: 70px;
  height: 41px;
  background: darkcyan;
}
.bold-normal-button,
.align-button {
  text-transform: capitalize;
  margin-top: 1px;
  width: 70px;
}
.print-text-button {
  width: -webkit-fill-available;
  font-size: 18px;
  padding-block: 7px;
}
.text-size-label,
.orientation-label,
.align-label,
.bold-normal-label {
  font-size: 14px;
}
.text-size {
  width: 60px;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 3px;
  border: 1px solid black;
  -webkit-transition: 0.2s; /* Safari */
  transition: 0.2s;
}
.text-size,
.orientation {
  box-shadow: 0 0 2pt 0.2pt darkcyan;
  margin-top: 1px;
}
.text-size:hover,
.orientation:hover {
  box-shadow: 0 0 2pt 0.2pt darkviolet;
}
.orientation {
  border: 1px solid black;
  width: 93px;
  padding: 3px 1px 3px 1px;
}
